@import "tailwindcss";

  /* In your index.css or a global stylesheet */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  
  .scrollbar-hide {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  
  body {
    overflow-x: hidden;
    background-color: black;
  }
 